{% extends "base.html" %}

{% block title %}
Події — NZ ROOM
{% endblock title %}

{% block content %}
  <form>
    <div class="subnav">
      <a href="/">&#8592; Головна</a>
      <label><input type="radio" name="mode" value="past"> Минулі</label>
      <label><input type="radio" name="mode" value="future"> Майбутні</label>
      <!-- <label><input type="radio" name="filter"> Прийняті/Відхилені</label>
      <label><input type="radio" name="filter"> Події класу</label> -->
    </div>

    <div class="search-container">
      <input name="search" type="text" placeholder="Пошук подій">
      <button type="submit">Пошук</button>
    </div>
    {% if request.user.role == 'teacher' %}
      <a href="/events/create/">
        <button type="button">Створити подію</button>
      </a>
    {% endif %}
  </form>

  <div class="events">
    {%for event in events%}
    <a href="/events/detail/{{event.id}}">
        <div class="card">
            <div class="card-date">{{event.start_date}}</div>
                <div class="card-body">
                    <h3>{{event.title}} </h3>
                    <time>{{event.start_date}}–{{event.end_date}}</time>
                </div>
            <div class="card-actions">Прийняте/Відхилене</div>
        </div>
    </a>
    {%endfor%}
  </div>
{% endblock content %}