{% extends "base.html" %}

{% block title %}
Завдання — NZ ROOM
{% endblock title %}

{% block styles %}
<style>
   
    .divider {
      border-top: 1px solid #000;
      margin-bottom: 20px;
    }

    /* Task cards */
    .task-card {
      background: #ddd;
      display: flex;
      align-items: center;
      padding: 15px;
      margin-bottom: 15px;
    }
    .task-date {
      width: 80px;
      text-align: center;
      margin-right: 20px;
    }
    .date-box {
      background: #bbb;
      padding: 10px;
      margin-bottom: 10px;
    }
    .time {
      font-size: 0.9em;
    }
    .task-details {
      flex: 1;
    }
    .task-details h2 {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    .task-details button {
      background: #bbb;
      padding: 8px 12px;
    }
    .task-status {
      text-align: right;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .task-status span {
      margin-right: 5px;
    }
  </style>
{% endblock styles %}

{% block content %}

<form>
    <div class="subnav">
      <a href="/">&#8592; Головна</a>
      <label><input type="radio" name="status" value="" checked> Всі</label>
      <label><input type="radio" name="status" value="done" > Виконані</label>
      <label><input type="radio" name="status" value="not_done" > Не виконані</label>
    </div>

    <div class="search-container">
      <input name="search" type="text" placeholder="Пошук задач">
      <button type="submit">Пошук</button>
    </div>
    {% if request.user.role == 'teacher' %}
    <a href="/tasks/create/">
      <button type="button">Створити задачу</button>
    </a>
    {% endif %}
  </form>
  {%for Task in tasks%}
    <a href="/tasks/detail/{{ Task.id }}/">
        <div class="task-card">
            <div class="task-date">
            <div class="date-box"> {{ Task.end_date }}</div>
            {% comment %} <div class="time">14:00<br>123 каб.</div> {% endcomment %}
            </div>
            <div class="task-details">
            <h2> {{ Task.title }}</h2>
            <button>Деталі завдання</button>
            </div>
            <div class="task-status">
            <div><span>&#9679;</span> Виконано</div>
            <div><span>&#10003;</span> Не виконано</div>
            </div>
        </div>
    </a>
    {%endfor%}

{% endblock content %}
