{% extends "base.html" %}

{% block title %}
Деталі задачі — NZ ROOM
{% endblock title %}

{% block styles %}

<style>
  .container {
    display: flex;
    padding: 20px;
    gap: 20px;
  }

  .left, .right {
    flex: 1;
  }

  .middle {
    flex: 2;
  }

  .block {
    background-color: #dddddd;
    padding: 15px;
    margin-bottom: 20px;
  }

  .block h2 {
    margin-top: 0;
  }

  .task-buttons {
    margin-top: 10px;
  }

  .task-buttons button {
    background-color: #999999;
    color: white;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
  }

  .content-box {
    background-color: #cccccc;
    height: 150px;
    padding: 10px;
    margin-top: 10px;
  }

  .sidebar {
    background-color: #dddddd;
    padding: 10px;
  }

  .sidebar div {
    background-color: #b3b3b3;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #999;
  }

  .comment-section input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background-color: #aaaaaa;
    border: none;
  }

  .comment-section button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #999999;
    color: white;
    border: none;
  }

  hr {
    margin-top: 10px;
  }
</style>
{% endblock styles %}

{% block content %}

<div class="subnav">
  <a href="/tasks/list/">&#8592;Задачі</a>
</div>

<div class="container">
  <div class="left block">
    <h2>{{ task.title }}</h2>
    <p>{{ task.end_date }}</p>
    <p>Місце проведення: Мультипрофільний ліцей</p>
    <div class="task-buttons">
      <button>Виконано</button>
      <button>Не виконано</button>
    </div>
  </div>

  <div class="middle block">
    <h2>Контент завдання:</h2>
    <div class="content-box">{{ task.content }}</div>
  </div>

  <div class="right sidebar">
    <h2>Інші завдання</h2>
    <div>                        
      <a href="/tasks/list/">
          Перегляд всіх завдань 
      </a>
  </div>
    <!-- <div>Перегляд власних завдань</div> -->
  </div>
</div>

<div class="block comment-section">
  <h2>Коментарі до завдання</h2>
  <hr>
  <input type="text" placeholder="Ваш коментар...">
  <button>Додати</button>
</div>
{% endblock content %}
